[Unit]
Description=Redis Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=redis-exporter
Group=redis-exporter
Type=simple

ExecStart=/usr/local/bin/redis_exporter \
    -web.listen-address ":9121" \
    -redis.addr "redis://127.0.0.1:6379"

ExecStop=/usr/bin/kill -s TERM ${MAINPID}

[Install]
WantedBy=multi-user.target

# -redis.password "password"
